<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Order Visualization</title>
    <!-- 引入 Leaflet.js、leaflet-geoman、Element UI 样式 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.css" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.5.0/dist/geosearch.css" />
    <style>
        #form {
            width: 1200px;
            height: 40px;
            margin-bottom: 10px;
            overflow: hidden;
        }

        #map {
            height: 870px;
            pointer-events: all !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <el-form id="form" ref="form" :model="form" label-width="100px">
                <el-form-item label="专业市场:" style="float: left;">
                    <el-upload class="upload-demo" action="" :before-upload="handleBeforeUpload">
                        <el-button size="small" type="primary" @click="setActiveButton('file_market')">上传<i
                                class="el-icon-upload el-icon--right"></i></el-button>
                    </el-upload>
                </el-form-item>
                <el-form-item label="商圈边框:" style="float: left; margin-left: 40px;">
                    <el-upload class="upload-demo" action="" :before-upload="handleBeforeUpload">
                        <el-button size="small" type="primary" @click="setActiveButton('flie_fence_bd')">上传<i
                                class="el-icon-upload el-icon--right"></i></el-button>
                    </el-upload>
                </el-form-item>
                <el-form-item label="商圈网格:" style="float: left; margin-left: 40px;">
                    <el-upload class="upload-demo" action="" :before-upload="handleBeforeUpload">
                        <el-button size="small" type="primary" @click="setActiveButton('file_fence_grid')">上传<i
                                class="el-icon-upload el-icon--right"></i></el-button>
                    </el-upload>
                </el-form-item>
            </el-form>

            <div class="change_center" style="position: absolute; top: 12.5px; right: 820px;">
                <el-input-number size="small" :controls="false" style="width: 80px;" placeholder="经度" v-model="input_lng">
                </el-input-number>
                <el-input-number size="small" :controls="false" style="width: 80px;" placeholder="纬度" v-model="input_lat">
                </el-input-number>
                <el-button size="small" icon="el-icon-add-location" type="primary" @click="addMarker()"
                    clearable>添加点（经度，纬度）</el-button>
            </div>

            <div style="position: absolute; top: 12.5px; right: 320px;">
                <el-autocomplete v-model="input_bd_name" :fetch-suggestions="querySearch" :max-results="5"
                    placeholder="请输入“BD围栏ID”或“商圈边框名称”" size="small" style="width: 300px;" :trigger-on-focus="true"
                    @select="locatePosition()"></el-autocomplete>
                <el-button size="small" icon="el-icon-search" type="primary" @click="locatePosition()"
                    clearable>搜索</el-button>
            </div>

            <div style="position: absolute; top: 16px; right: 160px;">已找到重复名称商圈:</div>
            <div id="coordinateInfo" style="position: absolute; top: 20px; right: 110px;">0 of 0</div>
            <el-button-group style="position: absolute; top: 12.5px; right: 10px;">
                <el-button id="prev-button" size="small" type="primary" @click="switchCoordinate('prev')"
                    icon="el-icon-arrow-left" :disabled="buttonDisabled"></el-button>
                <el-button id="next-button" size="small" type="primary" @click="switchCoordinate('next')"
                    :disabled="buttonDisabled">
                    <i class="el-icon-arrow-right el-icon--right"></i>
                </el-button>
            </el-button-group>
        </div>
        <div id="map" v-loading="loading"></div>
    </div>

    <!-- 引入 d3 v6、leaflet.js、leaflet-geoman、vue2、element-ui、sheet.js、terraformer库-->
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@geoman-io/leaflet-geoman-free@latest/dist/leaflet-geoman.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-0.19.2/package/dist/xlsx.full.min.js"></script>
    <script src="https://webapi.amap.com/maps?v=1.4.15&key=4478ae30d0ebd6df621567bed87a26b0"></script>
    <script src="https://unpkg.com/@terraformer/wkt"></script>
    <script src="https://unpkg.com/h3-js@3.7.1"></script>
    <script src="https://unpkg.com/leaflet-geosearch@3.5.0/dist/geosearch.umd.js"></script>

    <script src="js/coordtransform.js"></script>
    <script src="js/app.js" type="module"></script>
</body>

</html>